.sidebarWrapper {
  width: 12%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #787878;
  color: #fff;
  font-family: "Lora", serif;
  font-size: 1.1rem;
}
